body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-image: url('public\img\bg-lp.jpg'); /* Adjusted path to the image */
    background-size: cover; /* This makes the background cover the entire container */
    background-position: center; /* This centers the background image */
    height: 100vh; /* This sets the height of the container to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
